@charset "UTF-8";
/*
    !important = Aplica a las propiedades y pisa todo orden jerárquico
    ID = Único e irrepetible / DNI / IMEI / PATENTE DE UN AUTO
    class = Se pueden repetir y utilizar más de una vez
    Etiquetas/selectores = Etiquetas semánticas del HTML.
*/
/* Reset global */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #E4E4F9;
}

/* HEADER */
#header {
  width: 100%;
  min-height: 80px; /* Altura del header */
  background-color: #2D4B5A;
  padding: 0px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 0px;
  align-content: center;
}

#navBar {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between; /* Deja el primer elemento a la izquierda y el resto a la derecha */
}

/* Lista de navegación */
#navBar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; /* Ocupa todo el espacio horizontal */
}

#navBar ul li:first-child {
  margin-right: auto; /* Empuja el nombre hacia la izquierda */
}

#navBar ul li a {
  color: #E4E4F9;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

#navBar ul li a:hover {
  color: #B8A4FF; /* Cambia de color en hover */
}

#navBar ul li:not(:first-child) {
  margin-left: 30px; /* Espacio entre los enlaces a la derecha */
}

/* MAIN */
#main {
  background-color: #0B0A1F;
  flex-grow: 1;
  flex-wrap: wrap;
}

/* SECCIÓN SERVICIOS MONDRIAN */
.mondrian-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
  padding: 20px;
}

.mondrian-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  border: 1px solid #0B0A1F;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; /* Suaviza la animación del zoom */
  text-decoration: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Colores de fondo */
.service1 {
  background-color: #c84034;
}

.service2 {
  background-color: #4a9dc0;
}

.service3 {
  background-color: #b19c29;
}

.service4 {
  background-color: #308633;
}

.mondrian-item h3 {
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.mondrian-item p {
  font-size: 1.3rem;
}

.mondrian-item:hover {
  transform: scale(1.05); /* Aumenta el tamaño del cuadro */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}

/* NOTICIAS */
.card-img-top {
  margin-bottom: 10px;
}

.news-item p {
  font-size: medium;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 15px;
}

.news-item a {
  text-decoration: none;
  color: #9c87ff;
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.news-item {
  background-color: #1a1a27;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.news-item:hover {
  transform: scale(1.05);
}

.news-item h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: E4E4F9;
}

.news-item a p {
  font-size: 1rem;
  color: #555;
}

/* CONTACTO */
.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  color: #b8a4ff;
}

.text-section {
  flex: 1;
  margin-right: 50px;
  font-size: 18px;
}

.form-section {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
  font-size: 24px;
  color: #9c87ff;
  text-transform: uppercase;
}

input,
textarea {
  margin-top: 10px;
  padding: 15px;
  font-size: 18px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  width: 100%;
  color: #000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

textarea {
  height: 150px;
}

button {
  margin-top: 0px;
  padding: 15px;
  background-color: #9c87ff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

/* Estilos para el botón hamburguesa de Bootstrap */
.navbar-toggler {
  border: none;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml; charset=utf8, %3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28244, 244, 244, 0.7%29" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"%3E%3C/path%3E%3C/svg%3E');
}

/* FOOTER */
#footer {
  width: 100%;
  padding: 30px 15px;
  background-color: #2D4B5A;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.footer-links ul li {
  margin: 0 15px; /* Espacio entre los iconos de redes sociales */
}

.footer-links ul li a img {
  width: 50px;
  height: 50px;
}

.footer-copyright {
  margin-top: 30px;
  font-size: 14px;
}

.footer-copyright p {
  margin-bottom: 0px;
}

/* Media Query para servicios en columnas en pantallas pequeñas */
@media (max-width: 992px) {
  .services-section {
    flex-direction: column;
    align-items: center;
  }
  .service-card {
    width: 100%;
    margin-bottom: 10px;
  }
  .image-container {
    padding-bottom: 20px;
  }
}
/* Estilos globales */
body {
  max-width: 1400px;
  min-height: 100vh;
  margin: auto; /* Centra el contenido en pantallas más grandes */
  background-color: #0B0A1F; /* Color de fondo global */
  font-size: large;
  display: flex;
  flex-direction: column; /* Distribuye elementos verticalmente */
  justify-content: space-between; /* Empuja el footer al final */
}

/* INTRODUCCIÓN */
.intro-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding: 20px;
  background-color: #E4E4F9;
  border-radius: 15px;
  flex-wrap: wrap;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 30px;
}

.image-container img {
  width: 350px; /* Tamaño de la imagen */
  height: auto;
  border-radius: 10px;
}

.intro-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  font-size: 1.7rem;
  color: #2D4B5A;
  margin-bottom: 20px;
  text-align: center;
}

.name-title {
  font-size: 2rem;
  font-weight: bold;
  color: #0B0A1F;
  margin-bottom: 15px;
  text-align: center;
}

.intro-description {
  font-size: 1.2rem;
  color: #2D4B5A;
  line-height: 1.8;
  margin-bottom: 10px;
  text-align: justify;
}

.intro-links {
  text-align: center;
  margin-top: 20px;
}

.intro-links li {
  list-style: none;
}

.intro-links a {
  text-decoration: none;
  color: #2D4B5A;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #2D4B5A;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.intro-links a:hover {
  background-color: #2D4B5A;
  color: white;
}

/* SERVICIOS */
.services-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0px;
  width: 100%;
  gap: 0.5%;
}

.service-card {
  text-align: center;
  padding: 15px;
  background-color: #E4E4F9;
  border: 2px solid #2D4B5A;
  border-radius: 8px;
}

.service-card h3 {
  margin-top: 15px;
  color: #0B0A1F;
}

.service-card p {
  color: #2D4B5A;
  margin: 15px 0;
}

.service-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 40px;
}

.service-card a {
  text-decoration: none;
  color: #0B0A1F;
  font-weight: bold;
}

.service-card img {
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
