/* MAIN */
#main {
    background-color: #0B0A1F;
    flex-grow: 1;
    flex-wrap: wrap;
}

/* SECCIÓN SERVICIOS MONDRIAN */
.mondrian-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    padding: 20px;
}

.mondrian-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border: 1px solid #0B0A1F;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; /* Suaviza la animación del zoom */
    text-decoration: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Colores de fondo */
.service1 {
    background-color: #c84034;
}

.service2 {
    background-color: #4a9dc0;
}

.service3 {
    background-color: #b19c29;
}

.service4 {
    background-color: #308633;
}

.mondrian-item h3 {
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.mondrian-item p {
    font-size: 1.3rem;
}

.mondrian-item:hover {
    transform: scale(1.05); /* Aumenta el tamaño del cuadro */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
}

/* NOTICIAS */
.card-img-top { 
    margin-bottom: 10px;
    border-radius: 15px;
}

.news-item p {
    font-size: medium;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.news-item a {
    text-decoration: none;
    color: #9c87ff;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.news-item {
    background-color: #1a1a27;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.news-item:hover {
    transform: scale(1.05);
}

.news-item h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: E4E4F9;
}

.news-item a p {
    font-size: 1rem;
    color: #555;
}


/* CONTACTO */
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    color: #b8a4ff;
}

.text-section {
    flex: 1;
    margin-right: 50px;
    font-size: 18px;
}

.form-section {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    font-size: 24px;
    color: #9c87ff;
    text-transform: uppercase;
}

input,
textarea {
    margin-top: 10px;
    padding: 15px;
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 100%;
    color: #000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

textarea {
    height: 150px;
}

button {
    margin-top: 0px;
    padding: 15px;
    background-color: #9c87ff;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

/* Estilos para el botón hamburguesa de Bootstrap */
.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml; charset=utf8, %3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28244, 244, 244, 0.7%29" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"%3E%3C/path%3E%3C/svg%3E');
}



